@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

[epub|type~="se:temperature"]{
	font-variant: all-small-caps;
}

#chapter-5 blockquote,
#chapter-7 blockquote{
	text-align: center;
	font-variant: small-caps;
}

#chapter-5 blockquote p,
#chapter-7 blockquote p,
#chapter-15 blockquote p{
	text-indent: 0;
}

#chapter-15 blockquote{
	text-align: center;
}
